<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Server.jar">
      <element id="module-output" name="Server" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>